<div class="error-page-wrap">
  <article class="error-page gradient">
    <hgroup>
      <h1>500</h1>
      <h2>oops! Something went wrong!!</h2>
    </hgroup>
    <%= link_to "Back to site", root_path, :class => "error-back" %>
  </article>
</div>
